@import url('./colors.css');

/* Form */
input,
select,
textarea,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}
input[type='text'],
input:not([type]),
input[type='search'],
input[type='password'],
textarea,
select,
button,
fieldset {
	padding: 0.25em;
	border: solid 0.5px var(--color-border);
	border-radius: 0.375rem;
}
input[type='text']:disabled,
input:not([type]):disabled,
input[type='search']:disabled,
input[type='password']:disabled,
textarea:disabled,
select:disabled,
button:disabled,
fieldset:disabled {
	background: var(--color-input-disabled);
}
input[type='text']:read-only,
input:not([type]):read-only,
input[type='search']:read-only,
input[type='password']:read-only,
textarea:read-only,
select:read-only,
button:read-only,
fieldset:read-only {
	background: var(--color-input-disabled);
}
/*
<div class="control">
	<label for="name">Name</label>
	<div class="contents">
		<input type="text" name="name" value={form?.exercise.name} placeholder={'\u200B'} />
		<p class="helper">The name of the exercise</p>
		{#if form?.validation?.has('name')}
			<p class="validation" id="name-error" aria-live="assertive">
				{form?.validation.first('name')?.message}
			</p>
		{/if}
	</div>
</div>
*/
form div.control {
	display: flex;
	gap: 1em 2em;
	/* https://www2.webkit.org/show_bug.cgi?id=142968 */
	align-items: baseline;
	margin: 1.5em 0;
}
form .control .validation,
form .control .helper {
	margin: 0.5rem 0;
	font-size: 0.9em;
	color: var(--color-secondary);
}
.validation, 
form .control .validation {
	color: var(--color-error);
	font-weight: bolder;
}
form .control input:invalid,
form .control textarea:invalid {
	background-color: var(--color-error-secondary);
}

form > .control:last-of-type {
	margin-bottom: 0;
}
form .control label {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 8em;
	text-align: right;
}
form div.control.actions {
	flex-direction: row-reverse;
	gap: 0.5em;
}
/*
form .control label + div.contents,
form .control label + input,
form .control label + textarea,
form .control label + select
*/
form .control label + * {
	min-width: 10em;
	flex-grow: 1;
}
/* url(https://svelte.dev/playground/5104e06a396e46828ca5bf308ca35a9b?version%3D5.9.0) */
form .control .contents textarea,
form .control .contents input[type='text'],
form .control .contents input:not([type]),
form .control .contents input[type='search'],
form .control .contents input[type='password'],
form .control .contents select {
	/* Fixes align-items: baseline */
	display: block;
	width: 100%;
}
button {
	appearance: auto;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	background: var(--color-action);
}
button:hover {
	background-color: var(--color-action-highlight);
	cursor: pointer;
}
button:active {
	background-color: var(--color-action-active);
}
button.default {
	background-color: var(--color-action-default);
	border-color: var(--color-action-default);
	color: white;
	font-weight: 500;
}
button.default:hover {
	background-color: var(--color-action-default-highlight);
}
button.default:active {
	background-color: var(--color-action-defualt-active);
}
